# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Makefile
[Makefile]
indent_style = tab
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# JavaScript and TypeScript files
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2

# CSS and styling files
[*.{css,scss,sass,less}]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2

# XML files
[*.xml]
indent_style = space
indent_size = 2

# Markdown files
[*.{md,mdx}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Shell scripts
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2

# Python files
[*.py]
indent_style = space
indent_size = 4

# Ruby files
[*.rb]
indent_style = space
indent_size = 2

# PHP files
[*.php]
indent_style = space
indent_size = 4

# Java files
[*.java]
indent_style = space
indent_size = 4

# C/C++ files
[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 4

# Rust files
[*.rs]
indent_style = space
indent_size = 4

# SQL files
[*.sql]
indent_style = space
indent_size = 2

# Configuration files
[*.{ini,conf,config,toml}]
indent_style = space
indent_size = 2

# Docker files
[Dockerfile*]
indent_style = space
indent_size = 2

# Terraform files
[*.{tf,tfvars}]
indent_style = space
indent_size = 2

# GraphQL files
[*.{graphql,gql}]
indent_style = space
indent_size = 2

# Protocol Buffer files
[*.proto]
indent_style = space
indent_size = 2

# Vue files
[*.vue]
indent_style = space
indent_size = 2

# Svelte files
[*.svelte]
indent_style = space
indent_size = 2

# Package files
[package.json]
indent_style = space
indent_size = 2

# Lock files
[*.lock]
trim_trailing_whitespace = false

# Binary files
[*.{png,jpg,jpeg,gif,ico,svg,woff,woff2,ttf,otf,eot}]
insert_final_newline = false
trim_trailing_whitespace = false

